body {
    font-family: 'Crimson Text', serif;
}

header, main, footer {
    padding-left: 300px;
}

.nav-wrapper, .section, footer {
    background-color: #0B2E59 !important;
}

.terminal {
    border: 5pt solid #0D6759;
}

.about-text {
    margin-top: 20px;
}

.parallax-container {
    height: 550px;
}

.josh {
    height: 450px;
    width: 300px;
}

.typed {
    display: inline-block;
}

.skills, .appsText, .collection-item {
    font-weight: bolder;
}

.cards:nth-child(odd) {
    background-color: #0D6759;
}

.cards:nth-child(even) {
    background-color: #2A044A;
}

a.links {
    color: #0D6759 !important;
}

a.links:focus {
    color: #2A044A !important;
}

a.links:hover {
    color: red !important;
}

a.navLinks {
    font-weight: bolder;
}

a.navLinks:focus {
    color: #0D6759 !important;
}
.card.medium {
    border: 1pt solid black;
}

.card-content, .card-action {
    border-top: 1pt solid black;
}
@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}