body {
    font-family: 'Crimson Text', serif;
}

header, main, footer {
    padding-left: 300px;
}

.nav-wrapper, .section, footer {
    background-color: #0B2E59 !important;
}

.terminal {
    border: 5pt outset;
}

.about-text {
    margin-top: 20px;
}

.parallax-container {
    height: 550px;
}

.josh {
    height: 450px;
    width: 300px;
}

.typed, .typed1 {
    display: inline-block;
}

.cards:nth-child(odd) {
    background-color:#0D6759;
}

.cards:nth-child(even) {
    background-color: #2A044A;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}