header, main, footer {
    padding-left: 300px;
}

.parallax-container {
    height: 550px;
}

.josh {
    height: 450px;
    width: 300px;
}

.typed, .typed1 {
    display: inline-block;
}

.cards:nth-child(odd) {
    background-color: black;
}

.cards:nth-child(even) {
    background-color: grey;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}